body {
    font-family: 'Raleway', sans-serif;

}

#header {
    display: flex;
    transition: 0.25s ease-in-out;
    position: relative;
    z-index: 1;

}

#header:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
}

logo img {
    padding: 5%;
    transform: scale(0.75);
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

nav a {
    text-align: center;
    color: rgba(24, 24, 24, 0.637);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    transition: 0.2s ease color;
    width: fit-content;

}

hamburger {
    display: none;
}

.srvc-heading {
    margin: 0 0 10px;
    /* color: linear-gradient(270deg,#4B48ED 20%,#FF73D8 100%); */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: .26em;
    background: -webkit-linear-gradient(270deg,#4B48ED 20%,#FF73D8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.srvc-subheading {
    margin: 0 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.srvc-stack {
    justify-content: center;
    text-align: center;
}

/* .flip-card {
    height: 252px;
    perspective: 1000px;
} */

/* .flip-card-face {
    animation-name: animate;
    animation: animate 8s linear infinite;
    border-radius: 10px;
    box-shadow: 0 30px 52.5px rgb(171 175 199 / 50%);
    backface-visibility: hidden;
} */

.flip-card-face {
    transition: transform 0.8s;
    border-radius: 10px;
    box-shadow: 0 30px 52.5px rgb(171 175 199 / 50%);
    transform-style: preserve-3d;
}

/* .flip-card:hover .flip-card-face {
    transform: rotateY(180deg);
  } */

  .flip-card-face, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    background: linear-gradient(-45deg,#FE7484,#ED579E,#B35EF1,#8986F7,#1CE4F3);
    animation: gradient_fliud 6s ease infinite;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 30px 52.5px rgb(171 175 199 / 50%);
    transform-style: preserve-3d;
    display: flex;
  }

  @keyframes gradient_fliud {
    0%   {background-position: 0% 50%;}
    50%  {background-position: 100% 50%;}
    100% {background-position: 0% 50%}
  }

  .icons {
    box-shadow: -3.75px 11.25px 22.5px rgb(15 137 255 / 30%);
  }

@media (max-width: 700px) {
    hamburger {
        display: block;

    }

    hamburger svg {
        display: block;
        position: absolute;
        right: 5%;
        top: 17%;
        height: 37px;
        width: 37px;
    }

    hamburger svg:active {
        transform: rotate(90deg);
        transition: .25s;
    }

    nav {
        flex-direction: column;
        position: absolute;
        right: -100%;
        width: 60%;
        padding-top: 10px;
        transform: scale(1.1);
        background-color: white;
        transition: 0.3s ease-in-out;

    }

    nav a {
        padding: 15px 0;
        transform: scale(1.5);
        font-weight: 600;
    }
    .contact .heading h2 {
        font-variant: small-caps;
        text-transform: uppercase;
    }
}

/*Conact-me*/
.contact-section {
    margin-top: 5%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.contact-section h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info div {
    border-radius: 10px;
    width: 30%;
    text-align: center;
    padding: 20px;
    background-color: #a6a6a6;
}

.contact-info i {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-info p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-info div {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-section h1 {
        font-size: 33px;

    }
}

/* FOR CARDS */
.flip-card {
    background-color: transparent;
    height: 242px;
    display: flex;
    perspective: 1000px;
    padding: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* transition: transform 0.6s; */
    /* transform-style: preserve-3d; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: transform 0.8s;
    border-radius: 10px;
    /* box-shadow: 0 30px 52.5px rgb(171 175 199 / 50%); */
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
  }
  
  .flip-card-front {
    /* background-color: #bbb;
    color: black; */
    transition: transform 0.8s;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(171 175 199 / 30%);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
  }
  
  .flip-card-back {
    /* background-color: #2980b9; */
    /* color: white; */
    /* transform: rotateY(180deg); */
    transform: rotateY(180deg);
    background: linear-gradient(-45deg,#FE7484,#ED579E,#B35EF1,#8986F7,#1CE4F3);
    animation: gradient_fliud 6s ease infinite;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 30px 52.5px rgb(171 175 199 / 30%);
    transform-style: preserve-3d;
    /* align-items: center; */
    /* padding-top: 20%; */
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    /* display: flex; */
  }

  /* .flip-card-content {
    display: flex;
    align-items: center;
  } */
  
  .flip-card-back:hover{
    cursor: pointer;
  }

  @media screen and (max-width: 576px) {
    .flip-card {
        height: 180px;
    }
    .flip-card-back {
        font-size: 14px;
    }

  }