body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;

}

header {
    
    display: flex;
    transition: 0.25s ease-in-out;
    position: relative;
    z-index: 1;

}

#header:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
}

logo img {
    padding: 5%;
    transform: scale(0.75);
}

#nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

#nav a {
    text-align: center;
    color: rgba(24, 24, 24, 0.637);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    transition: 0.2s ease color;
    width: fit-content;

}

#nav a:hover {
    color: rgb(0, 0, 0);
}
hamburger {
    display: none;
}

@media (max-width: 700px) {
    hamburger {
        display: block;

    }

    hamburger svg {
        display: block;
        position: absolute;
        right: 5%;
        top: 17%;
        height: 37px;
        width: 37px;
    }

    hamburger svg:active {
        transform: rotate(90deg);
        transition: .25s;
    }

    nav {
        flex-direction: column;
        position: absolute;
        right: -100%;
        width: 60%;
        padding-top: 10px;
        transform: scale(1.1);
        background-color: white;
        transition: 0.3s ease-in-out;

    }

    nav a {
        padding: 15px 0;
        transform: scale(1.5);
        font-weight: 600;
    }
    .contact .heading h2 {
        font-variant: small-caps;
        text-transform: uppercase;
    }
}

#page-title h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
}
#page-title h4{
    padding: 0 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #0000008a;
}
#p-section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.pbox {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  
  .pbox * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .pbox img {
    width: 100%;
    height: 300px;
    vertical-align: top;
    opacity: 0.7;
    border-radius: 20px;
  }
  
  .pbox figcaption {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 10% 15%;
  }
    
  .pbox h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
  }
  
  .pbox h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 1px;
    background-color: #00000034;
    border-radius: 5px;
  }

  @media (max-width: 700px) {
    #page-title h2{
        font-size: 33px;
    }
    #page-title h4{
        padding: 0 10px;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        text-justify: distribute-all-lines;
    }
    .pbox {
        margin: 10px;
        font-size: 16px;
      }
  }