html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /*background-color: #000000;*/

}

main {
    display: flex;
}

#header {
    display: flex;
    transition: 0.25s ease-in-out;
    position: relative;
    z-index: 1;

}

#header:hover {
    /*border-bottom: 2px solid rgba(255, 255, 255, 0.61);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
}

logo img {
    padding: 5%;
    transform: scale(0.75);
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

nav a {
    color: rgba(24, 24, 24, 0.637);
    /*color: rgba(255, 255, 255, 0.637);*/
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    transition: 0.2s ease color;
    width: fit-content;

}

nav a:hover {
    color: rgb(0, 0, 0);
    /*color: white;*/
}

/*BODY SECTION*/

#background {
    background-color: #ffffff;
    margin-top: -45px;
    /*background-color: #000000;*/
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#background img {
    padding: 10px;
    position: absolute;
    filter: invert(0);
    /*invert(1)*/
    z-index: 2;
    border-radius: 50%;
    text-shadow: 0 0 10px rgb(153, 153, 153);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.338);
    /*
    text-shadow: 0 0 10px rgb(0, 0, 0);
    box-shadow:  0 0 5px 10px rgba(255, 255, 255, 0.603);
    */
    animation: breathe 0.5s infinite linear;
}

.outer-circle {
    /* 	design the circle */
    overflow: hidden;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(224, 224, 224, 0.053);
    margin-top: -50%;
    box-shadow: 0 0 5px 150px rgba(183, 180, 180, 0.367);
    background: radial-gradient(rgb(255, 255, 255) 90%, rgba(99, 99, 99, 0.118) 5%);
    position: absolute;
}

.green-scanner {
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: conic-gradient(#0000001e, #9494941c);
    /*background: conic-gradient(#2323233d, #12111132);*/
    position: absolute;
    top: 0px;
    left: 0;
    animation: scan 7s infinite linear;

}

.outer-circle::before,
.outer-circle::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #eeeeeecd;
    position: absolute;
    background-color: rgba(112, 111, 111, 0.078);
    animation: ripple 5s infinite alternate ease-in-out;
    /*background-color: rgba(61, 61, 61, 0.141);*/
}

.outer-circle::after {
    animation-delay: 2s;
}



#main-text {
    position: absolute;
    left: 12%;
    top: 10%;
    height: 75%;
    width: 75%;
    flex-direction: column;
    color: #000000;
    /*    color: #ffffff;*/
    display: flex;
    z-index: 10;
}

#title {
    padding: 10%;
    font-size: 4.8rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    text-shadow: 0 0 10px rgb(215, 215, 215);
    /*text-shadow: 0 0 10px rgb(0, 0, 0);*/
    animation: breathe 3s infinite ease-in-out;
    line-height: 70px;
    padding-bottom: 0;
    font-weight: 900;
}

#hero-text {
    text-align: center;
    align-self: center;
    margin-top: -3%;
    padding-top: 1%;
    width: 60%;
    color: #2a2a2ab9;
    /*color: #ffffffb9;*/
    font-weight: 400;
    word-spacing: 3px;
    font-size: 1.3rem;
}

#btn {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    z-index: 5;
    margin-top: 2%;
    align-self: center;
    width: 220px;
    height: max-content;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid white;
    color: black;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.241);
    /*background-color: #000000;
    color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px 1px rgba(176, 176, 176, 0.136);*/
}

#toggle-btn img {
    position: absolute;
    top: 90%;
    transition: .5s ease-in-out;
}

#toggle-btn img:hover {
    cursor: pointer;
    transform: rotate(-45deg) scale(1.3);
}

#toggle-btn img:active {
    transition: 0.2s;
    transform: scale(0.5);
}


hamburger svg {
    display: none;
    transition: .2s ease-in-out;
}

#sm-img {
    display: none;
}



@media (max-width: 700px) {
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    #toggle-btn {
        display: none;
    }


    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        right: -100%;
        width: 60%;
        padding-top: 10px;
        transform: scale(1.1);
        background-color: white;

    }

    nav a {
        padding: 15px 0;
        transform: scale(1.5);
        font-weight: 600;
    }

    .bg-icons {
        display: none;
    }

    .outer-circle {
        display: none;
    }

    #background {
        display: flex;
        position: static;
        flex-wrap: wrap;
        height: 75vh;
    }

    #main-text {
        margin-top: 10%;
        padding: 0;
        z-index: 1;
    }

    #title {
        padding: 0;
        margin-top: 10%;
        font-size: 2.3rem;
        line-height: 2rem;
    }

    #hero-text {
        width: 100%;
        margin-top: 5%;
        font-size: 1.2rem;
        color: black;
        /*color: rgb(255, 255, 255);*/
        text-justify: distribute-all-lines;
    }

    #sm-img {
        border-radius: 5px;
        display: block;
        margin-top: 10%;
    }

    #btn {
        border-radius: 5px;
        margin-top: 20%;
    }

    hamburger svg {
        display: block;
        position: absolute;
        right: 5%;
        top: 17%;
        height: 37px;
        width: 37px;
    }

    hamburger svg:active {
        transform: rotate(90deg);
        transition: .25s;
    }

}

hero {
    margin: 0;
}

/*ANIMATIONS*/
@keyframes scan {
    to {
        transform: rotate(2turn);
    }
}

@keyframes breathe {
    50% {
        opacity: 0.7;
    }
}

@keyframes ripple {
    from {
        filter: opacity(0.1) invert(0);
    }

    25% {
        transform: scale(0.75);
    }

    to {
        filter: opacity(1) invert(0.5);
        transform: scale(1.5);
    }
}


/*PORTFOLIO SECTION*/
portfolio-sm {
    display: none;
}

portfolio-lg {
    #prt-title {
        margin-top: 20%;
        text-align: center;
        font-size: 50px;
    }

    .parent div {
        opacity: 85%;
        transition: .25s ease-in-out;
    }

    .parent div:hover {
        opacity: 100%;
    }

    .parent {
        padding: 20px;
        height: 650px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 3;
        background-image: url('./resources/prtimg1.jpeg');
    }

    .div2 {
        grid-area: 2 / 2 / 4 / 4;
        background-image: url('./resources/prtimg4.jpeg');
    }

    .div3 {
        grid-area: 2 / 1 / 4 / 2;
        background-image: url('./resources/prtimg7.jpeg');

    }

    .div4 {
        grid-area: 1 / 3 / 2 / 4;
        background-image: url('./resources/exp-img1.png');
    }

    .prt-text {
        background-color: white;
        width: fit-content;
        font-size: 20px;
        font-weight: 400;
        margin: 10px;
        padding: 5px;
        margin-left: -10px;
        border-radius: 5px;
    }

}

@media (max-width: 700px) {
    portfolio-sm {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50%;

        li {
            font-size: 15px;
            list-style: none;
            line-height: 25px;
        }

    }

    portfolio-lg {
        display: none;
    }
}


/*EXPERTISE SECTION*/
expertise {
    margin-top: 11%;

    #exp-sm-list {
        display: none;
    }

    display: flex;
    position: relative;

    #exp-lg {
        display: flex;
        flex-direction: column;
    }

    #exp-text {
        display: flex;
        background-color: rgb(255, 255, 255);
    }

    #exp-text h1 {
        align-self: center;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        text-align: center;
        font-size: 50px;
        color: rgb(0, 0, 0);
    }

    #exp-text h3 {
        display: none;
        width: 40%;
        align-self: center;
        color: rgb(0, 0, 0);
        padding-left: 20px;
        font-weight: 300;
    }

    #exp-img-section {
        margin-top: -2%;
    }

    .exp-oval {
        filter: invert(1);
        width: 100%;
        height: 100px;
        position: relative;
        z-index: 2;
        display: block;

    }

    .exp-oval:first-child {
        /* border-top: 5px solid rgba(255, 255, 255, 0.177);
    */
    }

    .services {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .service {
        width: 20%;
    }

    .service img {
        width: 100%;
        height: 65vh;
    }

    .service h4 {
        background-color: #0000008f;
        position: absolute;
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 1%;
        bottom: 10%;
    }
}

@media (max-width: 700px) {
    expertise {
        display: flex;
        position: relative;
        align-content: center;
        height: fit-content;
        padding: 0;

        #exp-lg {
            display: flex;
            flex-direction: column;
        }

        #exp-text {
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            width: 100vw;
        }

        #exp-text h1 {

            padding: 0 10px;
            background-color: #ffffff;
            color: #000000;
            text-align: center;
            font-size: 33px;
        }

        #exp-text h3 {
            display: none;
            padding: 0;
            margin: 0;
            text-justify: distribute-all-lines, distribute;
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 15px;
            font-weight: 300;
            font-style: italic;
            text-transform: lowercase;
        }

        #exp-sm-list {
            align-self: center;
            margin-left: 5%;
            padding: 20px;
            display: block;
            line-height: 25px;
            font-size: 15px;
            padding-top: 0px;
        }

        #exp-sm-list li {
            list-style: none;
        }

        #exp-img-section {
            display: none;
        }

    }

}





/*TESTIMONIAL SECTION*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

testimonials-lg {
    padding: 20px 50px;

    #tst-title {
        text-align: center;
        width: 100%;
        font-size: 50px;
    }

    .testimonials {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .testimonial {
        background: linear-gradient(grey, white);
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .testimonial img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .testimonial p {
        margin: 10px 0;
    }

    .testimonial p:nth-child(2):before {
        font-family: 'FontAwesome';
        content: "\201C";
        position: absolute;
        bottom: 90px;
        left: 30%;
        font-size: 37px;
        color: rgb(255, 255, 255);
    }

    .testimonial .name {
        font-weight: bold;
        font-size: 20px;
    }

    .testimonial .comments {
        font-style: italic;
        max-width: 400px;
        min-width: 200px;
    }

    @media screen and (max-width: 768px) {
        #tst-title {
            font-size: 33px;
        }

        .testimonials {
            margin: 15% 30px;
        }

        .testimonial p:nth-child(2):before {
            bottom: 100px;
            left: 20%;
        }
    }


}

/*Conact-me*/
.contact-section {
    margin-top: 5%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.contact-section h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info div {
    border-radius: 10px;
    width: 30%;
    text-align: center;
    padding: 20px;
    background-color: #a6a6a6;
}

.contact-info i {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-info p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-info div {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-section h1 {
        font-size: 33px;

    }
}